[user]
	name = Kai Hendry
	email = hendry@webconverger.com
	signingkey = 64399BE2
[color]
	ui = auto
[core]
	whitespace = fix
[push]
	default = current
	followTags = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[branch]
	autosetuprebase = always
[diff]
	tool = vimdiff
[fetch]
	prune = true
