[user]
	name = Kai Hendry
	email = hendry@iki.fi
	signingkey = 64399BE2
[color]
	ui = auto
[core]
	whitespace = fix
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = current
	followTags = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[branch]
	autosetuprebase = always
[diff]
	tool = vimdiff
[fetch]
	prune = true
[github]
	user = kaihendry
[url "git@source.golabs.io:"]
	insteadOf = https://source.golabs.io/
[credential]
	helper = store
[init]
	defaultBranch = main
[url "ssh://git@github.com-twm"]
	insteadOf = ssh://git@github.com
