[user]
	name = Kai Hendry
	email = hendry@webconverger.com
	signingkey = 64399BE2
[alias]
	st = status
	ci = commit -a
[color]
	ui = auto
[core]
	whitespace = fix
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[branch]
	autosetuprebase = always
[url "https://e973529a8f5e87c0d8520a50f479947199db9a2d:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
