set bell-style none
set enable-keypad on
"\e[5~": beginning-of-line
"\e[6~": end-of-line
#set vi-ins-mode-string \1\e[34;1m\2└──[ins] \1\e[0m\2
#set vi-cmd-mode-string \1\e[33;1m\2└──[cmd] \1\e[0m\2
set show-mode-in-prompt on
