#xrdb -merge .Xresources

UXTerm*utf8: 1
UXTerm*scrollBar: False
UXTerm*font: -misc-fixed-medium-r-semicondensed-*-11-*-*-*-c-*-iso8859-1
UXTerm*boldFont: -misc-fixed-bold-r-semicondensed-*-11-*-*-*-c-*-iso8859-1
UXTerm*widefont: -misc-fixed-medium-r-semicondensed-*-11-*-*-*-c-*-iso8859-1
UXTerm*wideBoldFont: -misc-fixed-bold-r-semicondensed-*-11-*-*-*-c-*-iso8859-1
UXTerm*geometry: 94x58
UXTerm*title: term
UXTerm*saveLines: 1024
UXTerm*termName: xterm

UXTerm*background:  black
UXTerm*foreground:  gray
UXTerm*cursorColor: yellow
UXTerm*pointerColor: white
UXTerm*color0:      black
UXTerm*color1:      #9e1828
UXTerm*color2:      #aece92
UXTerm*color3:      #968a38
UXTerm*color4:      #414171
UXTerm*color5:      #963c59
UXTerm*color6:      #418179
UXTerm*color7:      gray
UXTerm*color8:      gray40
UXTerm*color9:      #cf6171
UXTerm*color10:     #c5f779
UXTerm*color11:     #fff796
UXTerm*color12:     #4186be
UXTerm*color13:     #cf9ebe
UXTerm*color14:     #71bebe
UXTerm*color15:     white
