[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Exec=/home/hendry/bin/x-www-browser %U
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;
