name: Create a Less Hero SLOC chart

on: 
  push:
    branches:
      - main
  workflow_dispatch: # manual run

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/configure-pages@v5
      - uses: kaihendry/lesshero@v0.1.4
      - run:  mkdir "_site" && mv lesshero.html _site/index.html
      - name: Upload artifact # TODO: we want to ideally upload one file, not overwrite the whole site!
        uses: actions/upload-pages-artifact@v3
      - name: Deploy to GitHub Pages
        id: deployment # used in earlier steps.deployment.outputs.page_url reference
        uses: actions/deploy-pages@v4
